*{
    margin: 0;
    padding: 0;
}

#tituloindex{
    font-family: sans-serif;
    color: rgb(223, 161, 38);
    margin-left: 0%;
}

#imagemindex{
    margin-left: 30%;
}

#subtituloindex{
    font-family: sans-serif;
    margin-left: -30%;
    margin-right: -30%;
    color: rgb(223, 161, 38);
    
}

.index{
    background-color: rgb(19, 121, 224);
    display: grid;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
}

.linkindex{
    font-family: sans-serif;
    margin-left: -30%;
    display: flex;
    gap: 105px;
}
