*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #9CCDC4;
    margin-left: -10%;
}

#subtitulo{
    font-family: sans-serif;
    color: #9CCDC4;
    margin-left: 7%;
}

fieldset{
    border: 0;
}

body{
    background-color: #1E1E1E;
    font-family: sans-serif;
    font-size: 1em;
    color: #9CCDC4;
    margin-left: 40%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #9CCDC4;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #9CCDC4;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #2fc0a1;
}

.botao1 {
    font-size: 1.2em;
    background: #9CCDC4;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 105%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao1:hover{
    background: #2fc0a1;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao1, select{
    cursor: pointer;
}

.botao2 {
    font-size: 1.2em;
    background: #9CCDC4;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 105%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao2:hover{
    background: #2fc0a1;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao2, select{
    cursor: pointer;
}